body{
    background-color:#000000;
}

/* DIV OR SPAN TAGS */

#mid{
    background-color:#FFFFFF;
    border-color:#FFFFFF;
    border-radius:5px;
    border-style:dashed;
    width:760px;
    margin-left:260px;
    text-align:center;
}

#MainTitle{
    color:#FFFFFF;
    text-align:center;
    font-size:10px;
}